.wrapper {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

p {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

.image {
  display: block;
  width: 450px;
  height: 675px;
}

.header {
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 600px;
}

.overview {
  margin: 20px 0;
  width: 100%;
}

.genres {
  margin-bottom: 10px;
}

.mat-raised-button {
  width: 200px;
}

small {
  font-size: 12px;
}

strong {
  font-size: 14px;
}

.details-block {
  display: flex;
  justify-content: space-between;
}

.recommendations {
  display: flex;
  flex-direction: column;
}

.mat-card-title {
  font-size: 12px;
  margin: 0;
}

.number {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  box-sizing: border-box;
  height: auto;
  width: 135px;
}


.viewport {
  height: 220px;
  width: 152px;
  border: 1px solid #333;
  border-radius: 5px;
}

.mat-icon-button {
  cursor: default;
  position: absolute;
  right: 0;
  top: 0;
}
