<div class="container">
  <div class="wrapper">
    <img
      class="image"
      src="https://image.tmdb.org/t/p/w220_and_h330_face{{MovieDetails.poster_path}}"
      alt="{{MovieDetails.original_title}}"
      onerror="this.src='../assets/placeholder-image.jpg'"
    >
    <div class="content">
      <div class="header">
        <h1>{{MovieDetails.original_title}}</h1>
        <mat-card-subtitle>Popularity: {{MovieDetails.popularity}}</mat-card-subtitle>
        <mat-card-subtitle>Release date: {{MovieDetails.release_date}}</mat-card-subtitle>
        <mat-card-subtitle>Vote average: {{MovieDetails.vote_average}}</mat-card-subtitle>
        <mat-card-subtitle>Vote count: {{MovieDetails.vote_count}}</mat-card-subtitle>
      </div>
      <div class="overview">
        <p><strong>Overview: </strong><small>{{MovieDetails.overview}}</small></p>
      </div>
      <div class="details-block">
        <div>
          <div class="genres" >
             <strong>Genres: </strong>
            <p *ngFor="let genres of MovieDetails.genres"><small>{{genres.name}}</small></p>
          </div>
          <div class="production" >
            <strong>Production companies: </strong>
            <p *ngFor="let production_companies of MovieDetails.production_companies"><small>{{production_companies.name}}</small></p>
          </div>
        </div>
        <div class="recommendations">
          <h3><strong>Recommendations: </strong></h3>
          <cdk-virtual-scroll-viewport itemSize="200" class="viewport">
              <mat-card *cdkVirtualFor="let results of recommendations" class="number">
                <div>
                  <mat-card-title>{{results.original_title}}</mat-card-title>
                </div>
                <a target="_blank" href="https://www.themoviedb.org/movie/{{results.id}}">
                <mat-card-content class="mat-card-content">
                  <img
                    mat-card-md-image
                    src="https://image.tmdb.org/t/p/w220_and_h330_face{{results.poster_path}}"
                    alt="{{results.original_title}}"
                    onerror="this.src='../assets/placeholder-image.jpg'"
                    class = "recImg"
                  >
                </mat-card-content>
                </a>
              </mat-card>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>

      <button mat-icon-button color="warn" *ngIf="this.movieService.inFavorites(MovieDetails.id)">
        <mat-icon>favorite</mat-icon>
      </button>

      <mat-card-actions>
        <a
          class="open"
          href="https://www.themoviedb.org/movie/{{MovieDetails.id}}"
          mat-raised-button
          color="primary"
          mat-button
          target="_blank"
        >Open</a>
        <button
          class="toFavorites"
          mat-raised-button color="accent"
          mat-button
          (click)="toFavorites(MovieDetails.id)"
          [disabled]="this.movieService.inFavorites(MovieDetails.id)"
        >To favorites</button>
      </mat-card-actions>
    </div>
  </div>
</div>


