p {
  font-size: 1.5rem;
}

.mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: auto;
  margin: 10px;
}

.mat-card-lg-image {
  width: 150px;
  height: 225px;
}

.mat-card-content {
  text-align: center;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 0;

}

.wrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
