<div class="search">
  <h1>Search movies</h1>
  <mat-form-field>
    <mat-label>find</mat-label>
    <input
      matInput
      placeholder="Start type movie name"
      [minlength]="minLength"
      [(ngModel)]="searchStr"
      (ngModelChange)="handleChange()"
      (keyup.enter)="entered()"
    />
  </mat-form-field>
  <mat-error *ngIf="validationError">
    Search query should be more than 3 characters!
  </mat-error>
</div>

<div class="container">
  <div class="wrapper"
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    *ngIf="!searchStr; else search"
   >
    <mat-card *ngFor="let results of popular">
      <mat-card-header>
        <mat-card-title>{{ results.original_title }}</mat-card-title>
        <mat-card-subtitle
          >Popularity: {{ results.popularity }}</mat-card-subtitle
        >
        <mat-card-subtitle
          >Release date: {{ results.release_date }}</mat-card-subtitle
        >
      </mat-card-header>

      <mat-card-content class="mat-card-content">
        <img
          mat-card-lg-image
          src="https://image.tmdb.org/t/p/w220_and_h330_face{{
            results.poster_path
          }}"
          alt="{{results.original_title}}"
        />
        <p>Vote average: {{ results.vote_average }}</p>
        <p>Vote count: {{ results.vote_count }}</p>

        <button
          mat-icon-button
          color="warn"
          *ngIf="this.movieService.inFavorites(results.id)"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-content>

      <mat-card-actions>
        <a
          class="open"
          mat-raised-button
          color="primary"
          mat-button
          [routerLink]="['/moviePage', results.id]"
          >Open</a
        >
        <button
          class="toFavorites"
          mat-raised-button
          color="accent"
          mat-button
          (click)="toFavorites(results.id)"
          [disabled]="this.movieService.inFavorites(results.id)"
        >
          To favorites
        </button>
      </mat-card-actions>
    </mat-card>
      <div class="loader">
        <ngx-spinner
        bdColor=""
        size="default"
        color="#5700f1"
        type="ball-pulse-sync"
        [fullScreen]="false"
        >
        </ngx-spinner>
      </div>
  </div>


    <ng-template #search>
      <div
      class="wrapper"
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScrollSearch()"
      >
      <mat-card *ngFor="let found of searchResults">
        <mat-card-header>
          <mat-card-title>{{ found.original_title }}</mat-card-title>
          <mat-card-subtitle
            >Popularity: {{ found.popularity }}</mat-card-subtitle
          >
          <mat-card-subtitle
            >Release date: {{ found.release_date }}</mat-card-subtitle
          >
        </mat-card-header>

        <mat-card-content class="mat-card-content">
          <img
            mat-card-lg-image
            src="https://image.tmdb.org/t/p/w220_and_h330_face{{
              found.poster_path
            }}"
            alt="{{found.original_title}}"
          />
          <p>Vote average: {{ found.vote_average }}</p>
          <p>Vote count: {{ found.vote_count }}</p>
        </mat-card-content>

        <button
          mat-icon-button
          color="warn"
          *ngIf="this.movieService.inFavorites(found.id)"
        >
          <mat-icon>favorite</mat-icon>
        </button>

        <mat-card-actions>
          <a
            class="open"
            mat-raised-button
            color="primary"
            mat-button
            [routerLink]="['/moviePage', found.id]"
            >Open</a
          >
          <button
            class="toFavorites"
            mat-raised-button
            color="accent"
            mat-button
            (click)="toFavorites(found.id)"
            [disabled]="this.movieService.inFavorites(found.id)"
          >
            To favorites
          </button>
        </mat-card-actions>
      </mat-card>
      <div class="loader">
        <ngx-spinner
        bdColor=""
        size="default"
        color="#5700f1"
        type="ball-pulse-sync"
        [fullScreen]="false"
        >
        </ngx-spinner>
      </div>
    </div>
  </ng-template>
</div>
