<div class="search">
  <h1>Search movies</h1>
  <mat-form-field>
    <mat-label>find</mat-label>
    <input
      matInput
      placeholder="Start type movie name"
      [minlength]="minLength"
      [(ngModel)]="searchStr"
      (ngModelChange)="handleChange()"
      (keyup.enter)="entered()"
    />
  </mat-form-field>
  <mat-error *ngIf="validationError">
    Search query should be more than 3 characters!
  </mat-error>
</div>
<button
[ngClass]="scrollUpBtn ? 'scrollUp':'noScrollUp'"
mat-raised-button
color="primary"
mat-button
(click)="scrollUp()"
>Up</button
>
<div class="container">
  <div class="wrapper"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="5"
    (scrolled)="onScroll()"
    *ngIf="!searchStr; else search"
   >
    <mat-card *ngFor="let movie of popular">
      <mat-card-header>
        <mat-card-title>{{ movie.original_title }}</mat-card-title>
        <mat-card-subtitle
          >Popularity: {{ movie.popularity }}</mat-card-subtitle
        >
        <mat-card-subtitle
          >Release date: {{ movie.release_date }}</mat-card-subtitle
        >
      </mat-card-header>

      <mat-card-content class="mat-card-content">
        <img
          mat-card-lg-image
          src="https://image.tmdb.org/t/p/w220_and_h330_face{{movie.poster_path}}"
          alt="{{movie.original_title}}"
          onerror="this.src='../assets/placeholder-image.jpg'"
        />
        <p>Vote average: {{ movie.vote_average }}</p>
        <p>Vote count: {{ movie.vote_count }}</p>

        <button
          mat-icon-button
          color="warn"
          *ngIf="this.movieService.inFavorites(movie.id)"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-content>

      <mat-card-actions>
        <button
          class="open"
          mat-raised-button
          color="primary"
          mat-button
          [routerLink]="['/moviePage', movie.id]"
          >Open</button
        >
        <button
          class="toFavorites"
          mat-raised-button
          color="accent"
          mat-button
          (click)="toFavorites(movie)"
          [disabled]="this.movieService.inFavorites(movie.id)"
        >
          To favorites
        </button>
      </mat-card-actions>
    </mat-card>
      <div class="loader">
        <ngx-spinner
        bdColor=""
        size="default"
        color="#5700f1"
        type="ball-pulse-sync"
        [fullScreen]="false"
        >
        </ngx-spinner>
      </div>
  </div>


    <ng-template #search>
      <div
      class="wrapper"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="5"
      (scrolled)="onScrollSearch()"
      >
      <mat-card *ngFor="let foundMovie of searchResults">
        <mat-card-header>
          <mat-card-title>{{ foundMovie.original_title }}</mat-card-title>
          <mat-card-subtitle
            >Popularity: {{ foundMovie.popularity }}</mat-card-subtitle
          >
          <mat-card-subtitle
            >Release date: {{ foundMovie.release_date }}</mat-card-subtitle
          >
        </mat-card-header>

        <mat-card-content class="mat-card-content">
          <img
            mat-card-lg-image
            src="https://image.tmdb.org/t/p/w220_and_h330_face{{
              foundMovie.poster_path
            }}"
            alt="{{foundMovie.original_title}}"
            onerror="this.src='../assets/placeholder-image.jpg'"
          />
          <p>Vote average: {{ foundMovie.vote_average }}</p>
          <p>Vote count: {{ foundMovie.vote_count }}</p>
        </mat-card-content>

        <button
          mat-icon-button
          color="warn"
          *ngIf="this.movieService.inFavorites(foundMovie.id)"
        >
          <mat-icon>favorite</mat-icon>
        </button>

        <mat-card-actions>
          <button
            class="open"
            mat-raised-button
            color="primary"
            mat-button
            [routerLink]="['/moviePage', foundMovie.id]"
            >Open</button
          >
          <button
            class="toFavorites"
            mat-raised-button
            color="accent"
            mat-button
            (click)="toFavorites(foundMovie)"
            [disabled]="this.movieService.inFavorites(foundMovie.id)"
          >
            To favorites
          </button>
        </mat-card-actions>
      </mat-card>
      <div class="loader">
        <ngx-spinner
        bdColor=""
        size="default"
        color="#5700f1"
        type="ball-pulse-sync"
        [fullScreen]="false"
        >
        </ngx-spinner>
      </div>
    </div>
  </ng-template>
</div>
